# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
.Python
.python-version

# Environment files
.env
.env.*

# Build and distribution
build/
dist/
pip-wheel-metadata/
*.egg-info/

# Caches
.cache/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.nox/
.tox/

# Databases
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# Editors/IDEs
.idea/
.vscode/

# OS files
.DS_Store

# Jupyter
.ipynb_checkpoints/

